{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">

    
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Patuakhali </th>
                <th scope="col">Address</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><b>Ulania hat high school and college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d471757.2698676596!2d90.20933999117453!3d22.519048468906952!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30aae7acf94fa40b%3A0xb0f8139c4332501d!2sUlania%20Hat%20High%20School%20%26%20College!5e0!3m2!1sen!2sbd!4v1683657443954!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Botol bunia school & college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3690.1479579359448!2d90.28466787502066!3d22.34804147965221!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30aab8ba52484f2f%3A0x7eced4d6123673e1!2sBotolbunia%20School%20%26%20College!5e0!3m2!1sen!2sbd!4v1683657579750!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td><b>Dhulia higher secondary school</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3684.776035816082!2d90.53886217502699!3d22.550060979507776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30aad46b0bffcb89%3A0x9b378c9fabe30e1d!2sDhulia%20High%20School!5e0!3m2!1sen!2sbd!4v1683657666431!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Patuakhali Technical School and College</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14759.726202968652!2d90.32391864816206!3d22.356213274339453!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30aac7c43d92de67%3A0xdf730d127a125c80!2sPatuakhali%20Technical%20School%20and%20College!5e0!3m2!1sen!2sbd!4v1683657802882!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>

            </tbody>
          
  </body>

  
</html>

{% endblock %}