{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">

    
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Comilla</th>
                <th scope="col">Address</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><b>Comilla Modern High School</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3660.0263921536907!2d91.17350317505597!3d23.459512478869975!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37547f27b425ffd9%3A0x5c223fe0e176cc88!2sCumilla%20Modern%20High%20School!5e0!3m2!1sen!2sbd!4v1683659072259!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>COMILLA VICTORIA GOVT. COLLEGE</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7320.090566769969!2d91.16913409153062!3d23.458831015481362!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37537d05fcfe94db%3A0x1d9bc8f29755e8e1!2sCumilla%20Victoria%20Government%20College%2CCumilla!5e0!3m2!1sen!2sbd!4v1683659201259!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td><b>ISPAHANI PUBLIC SCHOOL & COLLEGE, Cumilla</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.5491462596224!2d91.11672697505655!3d23.47672197885802!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37547bf45642b5af%3A0x9760ec0d98f2bcdc!2sIspahani%20Public%20School%20and%20College!5e0!3m2!1sen!2sbd!4v1683659287598!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><b>Cumilla Zilla School</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3659.926023092202!2d91.17857877505611!3d23.463132778867372!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x37547f2fa2f1c699%3A0x9ebe0f4e2f0d7e66!2sCumilla%20Zilla%20School!5e0!3m2!1sen!2sbd!4v1683659425315!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>

            </tbody>
          
  </body>

  
</html>

{% endblock %}