{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

      <div class="text-black mb-3 mb-md-0 hero-content">
        <b><centre>Copyright © fh.shakib, 2023 </centre></b>
        </div>


  </body>
  <div class="col-mid-6 hero-content">
    <p>
    <img src="{% static 'edu.png' %}" class="img-fluid " alt="">
  </p>
  </div>
  
</html>

{% endblock %}