{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">

    
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Jashore</th>
                <th scope="col">Address</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><b>Govt. M.M College</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.270979945334!2d89.19936777504631!3d23.160307979077498!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff10f3d97e87f9%3A0x89dad9ad9486f17c!2sGovt.%20Michael%20Madhusudan%20College!5e0!3m2!1sen!2sbd!4v1683495449174!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Cantonment College, Jessore</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.9831061556424!2d89.18715827504664!3d23.17081667907007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff10be1a3a28f9%3A0x4a27cdb28e88bab!2sCantonment%20College%20Jashore!5e0!3m2!1sen!2sbd!4v1683495611900!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td><b>BAF Shaheen college,JESSORE</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3667.5621145844243!2d89.14867497504719!3d23.186176679059443!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff176081c33311%3A0xe322c748aab3914d!2sBAF%20Shaheen%20College%20Jashore!5e0!3m2!1sen!2sbd!4v1683495692951!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Jessore Zilla School, Jessore</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3668.2582718011786!2d89.20312707504634!3d23.16077197907711!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff10f684610f11%3A0x4def942dbf9d61f3!2sJashore%20Zilla%20School!5e0!3m2!1sen!2sbd!4v1683495793621!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Jhikargacha BM High school</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3669.8086109392107!2d89.10307557504451!3d23.1041009791167!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39ff160fc7d1aa75%3A0x3c30b65b932f066d!2z4Kad4Ka_4KaV4Kaw4KaX4Ka-4Kab4Ka-IOCmrOCmvyDgpo_gpq4g4Ka54Ka-4KaHIOCmuOCnjeCmleCngeCmsg!5e0!3m2!1sen!2sbd!4v1683495913457!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
            </tbody>
          
  </body>

  
</html>

{% endblock %}