{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">

    
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Tangail</th>
                <th scope="col">Address</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><b>Jadunath Pilot Model Govt. School And College</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3643.245133593283!2d89.87366277507567!3d24.057670678461932!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fe07821b6e5739%3A0xf22a1f557ff4dd71!2sJadunath%20Pilot%20Model%20School%20%26%20College!5e0!3m2!1sen!2sbd!4v1683987628380!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Abeda Khanam Girls High School And College</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3638.640325228137!2d89.97841577508107!3d24.219373378353353!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fdff3f669caf41%3A0x4ef72f20d10d9b27!2sAbeda%20Khanam%20Girls&#39;%20High%20School%20and%20College!5e0!3m2!1sen!2sbd!4v1683987804407!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td><b>Baf Shaheen School And College,Paharkanchanpur</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3649.6980225951693!2d90.40031097506811!3d23.82933497861662!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c6edf450024b%3A0x3307e59bbc680c32!2sBAF%20Shaheen%20College%20Kurmitola!5e0!3m2!1sen!2sbd!4v1683987740934!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><b>Bangabandhu Cantonment Public School And College</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3633.5419967219123!2d89.80937607508706!3d24.397231278234624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fdefa99a604bc9%3A0x7d6b3698995466b5!2sBangabandhu%20Cantonment%20Public%20School%20and%20College!5e0!3m2!1sen!2sbd!4v1683987897883!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">5</th>
                <td><b>Balla Coronation High School And College</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3635.414273692095!2d90.02655787508486!3d24.332057778277974!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x375602d28c844e6b%3A0x3436e3040a44a666!2sBalla%20Coronation%20High%20School%20%26%20College!5e0!3m2!1sen!2sbd!4v1683987984301!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
            </tbody>
          
  </body>

  
</html>

{% endblock %}