{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">

    
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Natore </th>
                <th scope="col">Address</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><b>Beelchalan bl high school and college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d465499.1282397454!2d88.7076872890625!3d24.286790000000007!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc2e7ddcde84c7%3A0xe6812b61f9e0dd92!2sBilchalan%20B.L%20High%20School!5e0!3m2!1sen!2sbd!4v1683988557972!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Durduria high school & college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3639.9369844614034!2d88.87172487507956!3d24.173942678383828!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc034dadb859cb%3A0xcc03e0216af36431!2sDurduria%20High%20School%20%26%20College!5e0!3m2!1sen!2sbd!4v1683988722163!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td><b>Hatiandha girls school and college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d466294.5015986094!2d88.68633716857543!3d24.068917592437874!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc2d9bab2221a1%3A0x89728a637c16c140!2sHandiyal%20Girls%20High%20School!5e0!3m2!1sen!2sbd!4v1683988803618!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
              </tr>
              <tr>
                <th scope="row">4</th>
                <td><b>Gouripur high school and college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3640.101824322019!2d88.99940597507937!3d24.16816147838773!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc1dc10e28b53f%3A0x16b9b480a7315fb6!2sGouripur%20High%20School%20and%20College!5e0!3m2!1sen!2sbd!4v1683988862602!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">5</th>
                <td><b>Kachikata school and college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3635.039370665461!2d89.2937732750853!3d24.345121178269252!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fc31c521376fdd%3A0x96c8433d8d6226c4!2sKachikata%20School%20And%20College!5e0!3m2!1sen!2sbd!4v1683988918736!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
            </tbody>
          
  </body>

  
</html>

{% endblock %}