{% extends "base.html" %}
{% block content %}
<html>       


<style data-tag="reset-style-sheet">
    body {
        
      background-color: rgba(103, 215, 230, 0.5);

    }

  </style>
  <body>
    <light">

    
    
          <div class="container-fluid">
              {% load static %}
            <a class="navbar-brand" href="#"><img class="img-fluid " width="25%" src="{% static 'logo.png' %}" alt=""></a>
          </nav>
          </div>

          <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Dinajpur</th>
                <th scope="col">Address</th>

              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">1</th>
                <td><b>Cantonment public school and college</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d28771.878323295827!2d88.88571977431643!3d25.655219599999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fcad4a1172e2c9%3A0xb4ec52fbdc77c707!2sCantonment%20Public%20School%20And%20College%2Cparbatipur%2Cdinajpur!5e0!3m2!1sen!2sbd!4v1683656201889!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>Dinajpur Zilla School</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3597.4064159920767!2d88.6344053751295!3d25.624633577438335!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fb529c5ba8cba9%3A0x8c06fc1c919e94b!2sDinajpur%20Zilla%20School!5e0!3m2!1sen!2sbd!4v1683656369595!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">3</th>
                <td><b>CARMICHAEL COLLEGE</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d7189.0185800957015!2d89.25026599183846!3d25.720666359510272!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e32d857c97e2ed%3A0xfe0cf83511298896!2sCarmichael%20College!5e0!3m2!1sen!2sbd!4v1683656510120!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>
              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>DINAJPUR GOVT. COLLEGE</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d230186.9385920813!2d88.33976529453123!3d25.649045400000013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39fb52b1e39c84ad%3A0x60969039d821d088!2sDinajpur%20Government%20College!5e0!3m2!1sen!2sbd!4v1683656606525!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
              <tr>
                <th scope="row">2</th>
                <td><b>POLICE LINES SCHOOL & COLLEGE, Rangpur</b></td>
                <td><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3593.4071060604088!2d89.24647627513417!3d25.75711347735478!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39e32e007b5d6557%3A0x82eac090907225cb!2sPolice%20Lines%20School%20And%20College%2C%20Rangpur!5e0!3m2!1sen!2sbd!4v1683656671619!5m2!1sen!2sbd" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></td>

              </tr>
            </tbody>
          
  </body>

  
</html>

{% endblock %}